.directorybutton{
background-color: rgb(4, 3, 78);
color: beige;
margin-left: 80%;
padding: 2%;
border-radius: 3px;
width: max-content;
}

.outerborder{
    height: 150%;
    width: 30%;
}
.outerborder.list {
    height: 10%;
    width: 100%;
}
.outerborder.list .directorybutton{
   
    margin-left: 92%;
    height: 8%;
}
.card.dark-mode{
    background-color: rgb(28, 28, 28);
}
#completed{
    border-radius: 25px;
}