.nav-item{
    font-size: 1.2rem;
}
.nav-item:hover{
    font-size: 1.3rem;
    background-color: antiquewhite;
    color: black;
    border-right: solid 5px;
    border-color: brown;
}

.active {
    font-size: 1.3rem;
    background-color: antiquewhite;
    color: black;
    border-right: solid 5px;
    border-color: brown;
   }


.nav-link{
    color: blue;
}
.nav-link:hover{
    color: black;
}
.border-dotted{
    border: dashed 1px black;
    color: rgba(161, 162, 162, 0.767);
    
}