#exampleModal .fade.dark-mode{
    background-color: rgb(64, 3, 90);
    color: white;
}
input[type="checkbox"] {
    width: 22px;                         /* Set width */
    height: 22px;                        /* Set height */
    /* clip-path: circle(46% at 50% 50%);   /* Set the clip path of circle*/
    /* border: 1px solid black;  */
  }
  .h-100{
    height: 200% !important;
    

  }



.add-task-button.light-mode{
    height: 300%;
    width: 30%;
    margin: 2%;
    background-color: white;
    color: black;
    border: 2px dashed rgb(56, 55, 55);
}

.add-task-button.light-mode:hover {
    background-color: rgb(183, 183, 183);
    border: 2px dashed rgb(56, 55, 55);
}
.add-task-button.dark-mode{
    height: 300%;
    width: 30%;
    margin: 2%;
    background-color: rgb(28, 28, 28);
    border: 2px dashed rgb(160, 156, 156);
    color: white;
}

.add-task-button.dark-mode:hover {
    background-color: rgb(53, 53, 53);
    border: 2px dashed rgb(160, 156, 156);
}